<div id="wrap" class="container-fluid" style="padding-left: 285px;">
    <div class="">
        <h3>Sales report</h3>

        <table cellpadding="0" cellspacing="0" border="0" id="sales" class="datatable table table-striped table-bordered">
            <thead>
                <tr>
                    <th><strong>Sl. No</strong></th>
                    <th><strong>Order Date</strong></th>
                    <th><strong>Order ID</strong></th>
                    <th><strong> User ID</strong></th>
                    <th> <strong>Delvery Location</strong> </th>
                    <th> <strong>Payement method</strong></th>
                    <th> <strong>Order Total</strong></th>
                  

                </tr>
            </thead>
            <tbody>
                {{#each orders}}


                <tr class="gradeX">
                    <td>{{add @index '1'}}</td>
                    <td>{{this.orderDate}}</td>
                    <td>{{this._id}}</td>
                    <td>{{this.userId}}</td>
                    <td>{{this.delivery.city}},{{this.delivery.pincode}}</td>
                    <td>{{this.payment_method}}</td>
                    <td>{{this.totalAmount}}</td>
                </tr>

                {{/each}}
        </table>
        <button class="btn btn-danger" onclick="getReport()">Download pdf</button>
        <button class="btn btn-success" onclick="getspreadSheet()">Download XLS</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

<script>
    $(document).ready(function () {
        $('#sales').DataTable();
    });
</script>

<script>
    function getReport() {
    var element = document.getElementById('sales');
        html2pdf(element);
    }

function getspreadSheet() {
     $(document).ready(function () {
          $("#sales").table2excel({
              filename: "Order Report.xls"
            });
        });
    }
</script>

