<section id="shopgrid" class="shop shop-single">
  <div class="container shop-content">
    {{!-- Product Main single image --}}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5">
        <div class="prodcut-images">
          <div class="product-img-slider">
            <img src="/uploads/{{singleProduct._id}}__1.jpg" alt="product image" class="zoom-image" />
            <img src="/uploads/{{singleProduct._id}}__2.jpg" alt="product image" class="zoom-image" />
            <img src="/uploads/{{singleProduct._id}}__3.jpg" alt="product image" class="zoom-image" />

          </div>

          {{!-- Product nav images --}}
          <div class="product-img-nav">
            <img src="/uploads/{{singleProduct._id}}__1.jpg" alt="product image" style="height: 70px;"
              class="small-image" />
            <img src="/uploads/{{singleProduct._id}}__2.jpg" alt="product image" style="height: 70px;"
              class="small-image" />
            <img src="/uploads/{{singleProduct._id}}__3.jpg" alt="product image" style="height: 70px;"
              class="small-image" />

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <div class="product-title text-center-xs">
          <h3>{{singleProduct.productname}}
            <div class="wishBack" style="display: inline;margin-left: 10px;">
              {{#checkItemExistOnWishlist wishlist singleProduct._id}}
              {{/checkItemExistOnWishlist}}
            </div>
          </h3>
          {{#lte singleProduct.productquantity '0'}}
          <h4 class="text-danger">Sold Out</h4>
          {{/lte}}

        </div>

        <div class="product-meta mb-30">
          <div class="product-price pull-left pull-none-xs">
            <p><span class="discount">₹ {{singleProduct.productofferprice}}</span>₹{{singleProduct.productprice}}</p>
          </div>
        </div><br>

        <div class="product-desc text-center-xs">
          <p class="mb-0">{{singleProduct.productdes}}</p>
        </div>

        <hr class="mt-30 mb-30" />
        <div class="product-details text-center-xs">
          <h5>Other Details :</h5>
          <ul class="list-unstyled">
            <li>Product : <span>{{singleProduct.productname}}</span></li>
            <li>Code : <span>{{singleProduct.productcode}}</span></li>

            <li>Availabiltity : {{#lte singleProduct.productquantity '0'}} <span
                style="font-size:20px !important; color: red !important">Sold Out</span>{{else}}Available{{/lte}} </li>


            <li>Brand : <span>{{singleProduct.productbrand}}</span></li>
          </ul>
        </div>

        <hr class="mt-30 mb-30" />
        <div class="product-action">

          <div class="product-cta text-right text-center-xs">
            {{#gt singleProduct.productquantity '0'}}
            <a class="btn btn-primary" href="/checkoutbuynow/{{singleProduct._id}}">Buy Now</a>
            {{/gt}}




            {{#gt singleProduct.productquantity '0'}}
            {{#if logStatus}}
            {{#checkItemExistInCart items singleProduct._id singleProduct.productprice}}
            {{/checkItemExistInCart}}
            {{else}}
            <a href="/login" class="btn btn-primary add-to-cart">Add to cart</a>
            {{/if}}

            {{/gt}}
          </div>
        </div>

        <hr class="mt-30 mb-30" />
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="product-tabs">

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#description" aria-controls="description" role="tab" data-toggle="tab">description</a>
            </li>
            <li role="presentation">
              <a href="#details" aria-controls="details" role="tab" data-toggle="tab">details</a>
            </li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description">
              <p>{{singleProduct.productdes}}</p>

            </div>

            <div role="tabpanel" class="tab-pane" id="details">
              <h5>Technical Details</h5>
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td>Part Number</td>
                    <td>60-MCTE</td>
                  </tr>
                  <tr>
                    <td>Item Weight</td>
                    <td>54 pounds</td>
                  </tr>
                  <tr>
                    <td>Product Dimensions</td>
                    <td>92.8 x 92.8 x 92.8 inches</td>
                  </tr>
                  <tr>
                    <td>Item model number</td>
                    <td>60-MCTE</td>
                  </tr>
                  <tr>
                    <td>Item Package Quantity</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Number of Handles</td>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>Batteries Required?</td>
                    <td>No</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>

      </div>
    </div>



    <div class="row" style="margin-top: 15px;">
      <div class="col-xs-12 col-sm-12 col-md-12 ">
        <div class="widget-related-product">
          <div class="widget-title">
            <h4>Related Products</h4>
          </div>
          <div class="widget-content">
            <div class="row">

              {{#each relatedProduct}}

              <div class="col-xs-12 col-sm-6 col-md-3 product">
                <div class="product-img">

                  <img src="/uploads/{{this._id}}__1.jpg" alt="Product" />
                  <input type="text" hidden class="product-id" value="{{this._id}}">
                  <div class="product-hover">
                    <div class="product-action">
                      {{#hello ../items this._id this.productprice }}
                      {{/hello}}
                      <a class="btn btn-primary payment" onclick="buyNow({{this._id}})">Buy Now</a>
                    </div>
                  </div>
                </div>

                <div class="product-bio">
                  <div class="prodcut-cat">
                    <a href="/productview/{{this._id}}">{{this.productbrand}}</a>
                  </div>

                  <div class="prodcut-title">
                    <h3>
                      <a href="/productview/{{this._id}}">{{this.productname}}</a>
                    </h3>
                  </div>

                  <div class="product-price">
                    <span class="symbole">₹ </span><span>{{this.productprice}}</span>
                  </div>

                </div>

              </div>
              {{/each}}
              <script>
                window.onclick = (event) => {
                  var payment = document.getElementsByClassName('payment')
                  var addToCart = document.getElementsByClassName('add-to-cart')
                  var hover = document.getElementsByClassName('product-hover')
                  var product_id = document.getElementsByClassName('product-id')

                  for (var i = 0; i < payment.length; i++) {
                    if (event.target === payment[i]) {
                      location.href = '/checkoutbuynow/' + product_id[i].value
                      break;
                    } else if (event.target === addToCart[i]) {
                      break;
                    } else if (event.target === hover[i]) {
                      location.href = "/productview/" + product_id[i].value
                      break;
                    }
                  }


                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>

<style>
  .wishBack {
    background-color: #c2c2c23d;
    padding: 6px;
    border-radius: 60px;
  }
</style>



<script>
  function addToWishList(proId) {

    $.ajax({
      url: '/addtowishlist/' + proId,
      method: 'get',
      success: (response) => {
        location.reload()
      }
    })
  }

</script>
<script>
  function removeFromWish(proId) {
    $.ajax({
      url: '/removefromwish/' + proId,
      method: 'get',
      success: (response) => {
        location.reload()
      }
    })
  }
</script>