      <section id="shopcart" class="shop shop-cart">
        <div class="container">
          {{#if products}}
          
          <div class="row">
              {{#if emptycart}}
                <img src="/images/3298067.jpg" alt="">
                <h2>Sorry ! your cart is empty</h2>
              {{else}}
            <div class="col-xs-12 col-sm-12 col-md-12">

            
              <div class="cart-table table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr class="cart-product">
                      <th class="cart-product-item">Product</th>
                      <th class="cart-product-price">Price</th>
                      <th class="cart-product-quantity">Quantity</th>
                      <th class="cart-product-total">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each products}}
                    <tr class="cart-product">
                   
                      {{#each this.product}}
                      <td class="cart-product-item">
                        <div class="cart-product-remove">
                          <i class="fa fa-close"></i>
                        </div>
                        <div class="cart-product-img">
                          <img src="/uploads/{{this._id}}__1.jpg" alt="product" style="height: 50px;"/>
                        </div>
                        <div class="cart-product-name">
                          <h6>{{this.productname}}</h6>
                        </div>
                      </td>
                      {{/each}}


                      <td class="cart-product-price">{{this.productprice}}</td>
                      <td class="cart-product-quantity">
                        <div class="product-quantity">
                          <a href="#"><i class="fa fa-minus"></i></a>
                          <input type="text" value="{{this.quantity}}" id="pro1-qunt" readonly/>
                          <a href="#"><i class="fa fa-plus"></i></a>
                        </div>
                      </td>
                      <td class="cart-product-total">$ 20.00</td>
                    </tr>
                    {{/each}}

                    <tr class="cart-product-action">
                      <td colspan="4">
                        <div class="row clearfix">


{{!-- Apply coupon --}}
                          {{!-- <div class="col-xs-12 col-sm-6 col-md-6">
                            <form class="form-inline">
                              <input type="text" class="form-control" id="coupon" placeholder="Coupon Code"/>
                              <button type="submit" class="btn btn-primary">
                                Apply Coupon
                              </button>
                            </form>
                          </div> --}}

                          <div class="col-xs-12 col-sm-6 col-md-6 text-right">
                            <a class="btn btn-secondary" href="#">update cart</a>
                            <a class="btn btn-primary" href="#">Proceed To Checkout</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>



            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="cart-total-amount">
                <h6>Cart Totals :</h6>
                <ul class="list-unstyled">
                  <li>Cart Subtotal :<span class="pull-right text-right">$ 140.00</span>
                  </li>
                  <li>Shipping :<span class="pull-right text-right">Free Shipping</span>
                  </li>
                  <li>Order Total :<span class="pull-right text-right">$ 140.00</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
           {{/if}}
          {{else}}
          <center>
            <h1 style="color: red;">Sorry your cart is empty</h1>
                       <img src="/images/3298067.jpg" alt="" style="height: 250px;"><br>
                            <a class="btn btn-primary" href="/" style="margin-top: 67px;">Add some products</a>
                   
          </center>
           {{/if}}
        </div>
      </section>

      